*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: 'Segoe UI', sans-serif;
background:#0e0e0e;
color:white;
line-height:1.6;
scroll-behavior:smooth;
}

nav{
padding:20px 60px;
display:flex;
justify-content:space-between;
align-items:center;
background:#000;
position:sticky;
top:0;
z-index:1000;
}

nav a{
color:#ccc;
text-decoration:none;
margin-left:30px;
font-size:14px;
transition:0.3s;
}

nav a:hover{
color:#FFD400;
}

.logo{
display:flex;
align-items:center;
}

.logo span{
color:#FFD400;
font-weight:800;
font-size:24px;
margin-left:10px;
}

section{
padding:100px 20px;
max-width:1100px;
margin:auto;
text-align:center;
}

h2{
color:#FFD400;
margin-bottom:40px;
font-size:36px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:40px;
}

.card{
background:#151515;
padding:40px;
border-radius:12px;
border:1px solid #222;
transition:0.4s ease;
opacity:0;
transform:translateY(40px);
}

.card.visible{
opacity:1;
transform:translateY(0);
}

.card:hover{
border-color:#FFD400;
transform:translateY(-6px);
}

button{
background:#FFD400;
color:black;
border:none;
padding:14px 35px;
font-weight:bold;
cursor:pointer;
border-radius:6px;
transition:0.3s;
}

button:hover{
background:white;
}

footer{
background:#000;
padding:40px;
text-align:center;
color:#666;
font-size:14px;
margin-top:60px;
}
